tests/fixtures/fr_prep_a1a/**/*.tsv text eol=lf
tests/fixtures/fr_prep_a1b1/**/*.tsv text eol=lf
tests/fixtures/fr_prep_a1b2/**/*.tsv text eol=lf
tests/fixtures/fr_prep_a2/**/* text eol=lf
tests/fixtures/fr_prep_a2b1/**/* text eol=lf
tests/fixtures/fr_prep_a2b2/**/* text eol=lf
